seed = 42

[traffic]
start_time = "2025-12-01T00:00:00Z"
time_scale = 3600

[output]
dir = "./out"

[output.rotation]
target_size_mb = 50
flush_interval_ms = 1000
max_age_seconds = 60

[output.format]
type = "parquet"
compression = "zstd"

[source]
type = "cloudtrail"
curated = true
regions = ["us-east-1", "us-west-2", "eu-west-1", "ap-southeast-1"]
actor_population_path = "./actors.parquet"

[[source.error_rates]]
name = "ConsoleLogin"
rate = 0.06
code = "SigninFailure"
message = "Failed authentication"

[[source.error_rates]]
name = "PutObject"
rate = 0.03
code = "AccessDenied"
message = "Access denied"

[[source.custom_events]]
name = "ConsoleLogin"
weight = 1.0

[[source.custom_events]]
name = "AssumeRole"
weight = 0.8

[[source.region_distribution]]
name = "us-east-1"
weight = 0.65

[[source.region_distribution]]
name = "us-west-2"
weight = 0.15

[[source.region_distribution]]
name = "eu-west-1"
weight = 0.15

[[source.region_distribution]]
name = "ap-southeast-1"
weight = 0.05
